.singleTodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 10px;
  /* background-color: rebeccapurple; */
  background-color: #fa7070;
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.singleTodo > h1 {
  font-size: 16px;
}
