.todosCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .todosCard {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-start;
  }
}
